html, body {
    height: 100%;
    width: 100%;
}

.body-container {
    /* background: url("background.png") no-repeat center center fixed; */
    background-size: cover;
    background-color: blueviolet;
    opacity: 0.5;
    position: fixed;
}

.header-container {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.body-container img{
    height: 100vh;
    width: 100vw;
}

.container {
    position: relative;
    background-color: #fff;
    height: 100vh;
    top: 10px;
}

.modal-container {
    margin-left: 5%;
    margin-right: 5%;
}

.calendar-screen {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.rbc-calendar {
    height: 91vh;
}


/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}


/* Date-picker */
.react-datetime-picker input:focus {
    outline: none;
}

.react-datetime-picker__wrapper {
    border: 0px solid grey !important;
}


/* Button Fab Add New */
.fab {
    position: fixed;
    padding: 15px;
    font-size: 20px;
    border-radius: 100%;
    bottom: 25px;
    right: 30px;
    z-index: 999;
}

/* Button Fab eliminar evento */
.fab-danger {
    position: fixed;
    padding: 10px;
    bottom: 25px;
    left: 30px;
    z-index: 999;
}

