

.auth-container{
    margin-top: 15%;
}

.login-form{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    max-width: 40vh;
    max-height: 14.5rem;
}

.login-form h3{
    text-align: center;
    color: #333;
}

.register-form{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    background: #0062cc;
    max-width: 40vh;
    max-height: 21rem;
}

.register-form h3{
    text-align: center;
    color: #fff;
}

.isLoginVisible {
    visibility: hidden;
}

.auth-container form{
    padding: 8%;
}

.btnSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form .btnSubmit{
    color: #fff;
    background-color: #0062cc;
}

.register-form .btnSubmit{
    background-color: #fff;
    color: #0062cc;
}

.register-form .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.form-group {
    text-align: right;
}