

.auth-container{
    margin-top: 15%;
}

.login-form{
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding:2%;
    width: 50vh;
    height: 17.5vw;
    top: 10px;
    right: 250px;
    z-index: 999;
}

.login-form h3{
    text-align: center;
    color: #333;
}

.register-form{
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    background: #0062cc;
    width: 50vh;
    height: 24.5vw;
    top: 10px;
    right: 250px;
}

.register-form h3{
    text-align: center;
    color: #fff;
}

.isLoginVisible {
    visibility: hidden;
}

.auth-container form{
    padding: 8%;
}

.btnSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form .btnSubmit{
    color: #fff;
    background-color: #0062cc;
}

.register-form .btnSubmit{
    background-color: #fff;
    color: #0062cc;
}

.register-form .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.form-group {
    text-align: right;
}

.close {
    position: absolute;
    top: 1%;
    right: 6%;
    vertical-align: middle;
    padding: 0px;
    border-radius: 100%;
}

.close:focus {
    outline: none;
}

.close:hover {
    border-radius: 20%;
    background-color: rgb(204, 204, 204);
}
